@{
    ViewData["Title"] = "Game Room"; // Set the title of the page
}

<h2>Game Room</h2> // Page heading


<div id="root"></div> // The root div where the React app will be mounted
<script src="https://localhost:3000"></script> // Link to the React development server