<br/>
<br/>
<div class="about">
<h1>About The Family</h1>
<h4>Welcome to our Family.</h4>
<p>We are a group of students fascinated by the intriguing world of strategy, alliances, and the occasional 'offer you can't refuse.<br/>
Our Mafia game is designed to test your wits, loyalty, and ability to outsmart your opponents.</p>
        
<h4>Our team consists of:</h4>
<ul>
    <li>Are Berntsen:  Mastermind of game strategy and coding.</li>
    <li>Ole S. Berget:  Our advisor and lead story developer.</li>
    <li>David B. Holt:  In charge of design and user experience.</li>
    <li>Storm Selvig:  Oversees testing and quality assurance.</li>
    <li>Eivind Solberg:  Cooks food and writes reports as a good secritery should do.</li>
</ul>

<p>This game was created as part of our school project in web development.<br/>
We aimed to blend our love for classic Mafia stories with interactive gameplay, giving players a taste of the thrill and suspense that comes with being part of a Mafia family.<br/>
Remember, it's all just a game. Play smart, stay loyal, and enjoy the journey through our digital underworld.</p>
<br/>
<br/>
<a class="discord" href="https://discord.gg/Bm7sX5MD"><img src="~/pictures/joindiscord.png" width="40%" alt=""></a>
</div>

