<br/>
<br/>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8766138620050725"
     crossorigin="anonymous"></script>
<div class="text-center">
    <h1 class="Title">Characters</h1>
</div>

<div class="characters">
    <div class="character-container">
        <button type="submit" class="character" id="copButton">
            <img class="img" src="~/pictures/Dec.png" alt="Cop"/>
        </button>
        <div class="cop" id="cop">
            <div class="charText">
                <h1>Detective</h1>
                <p>Knows more than you think he knows</p>
            </div>
        </div>
    </div>
    
    <div class="character-container">
        <button type="submit" class="character" id="mobButton">
            <img class="img" src="~/pictures/Mobster2.png" alt="Mobster"/>
        </button>
        <div class="mob" id="mob">
            <div class="charText">
                <h1>Mobster</h1>
                <p>Kills you in your sleep</p>
            </div>
        </div>
    </div>
    
    <div class="character-container">
        <button type="submit" class="character" id="lawButton">
            <img class="img" src="~/pictures/Citz.png" alt="Lawyer"/>
        </button>
        <div class="law" id="law">
            <div class="charText">
                <h1>Citizen</h1>
                <p>Don't do much, just live.</p>
            </div>
        </div>
    </div>
    
    <div class="character-container">
        <button type="submit" class="character" id="damButton">
            <img class="img" src="~/pictures/Doc.png" alt="Damsel"/>
        </button>
        <div class="dam" id="dam">
            <div class="charText">
                <h1>Doctor</h1>
                <p>Can fix all your booboo's</p>
            </div>
        </div>
    </div>
</div>
