@{
    ViewData["Title"] = "Privacy Policy";
}
<br/>
<br/>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8766138620050725"
        crossorigin="anonymous"></script>
<div class="privacy">
<h1>@ViewData["Title"]</h1>

    <h5>  Welcome to our website! Our privacy policy is simple:</h5>
    <ul>
        <li><b>Cookie Monster:</b> We use cookies, but only because our programmer loves chocolate chip ones. These digital cookies don't taste as good, but they help our site remember you (and your favorite cookie flavor).</li>
        <li><b>Secret Agent:</b> We won't sell your data to anyone. We're not secret agents, and your life probably isn't interesting enough for a spy movie plot. Just kidding... or are we?</li>
        <li><b>Nostradamus Clause:</b> We can't predict the future, so if our site gains sentience and takes over the world, we're not responsible. We'll be too busy trying to appease our new robot overlords.</li>
        <li><b>Alien Abductions:</b> In the event of an alien abduction, we promise not to share your browsing history with extraterrestrials. We're pretty sure they won't care what you watched on YouTube last night.</li>
        <li><b>Invisibility Cloak:</b> If you find one, let us know. It's not related to privacy, but we really want one.</li>
    </ul>
<h5>  This privacy policy is subject to change, especially if we find that invisibility cloak.</h5>

<br/>
<br/>
<br/>

<h5>  We did not find it but there are some rules i guess....</h5>
<h1>Here is the real one:</h1>
    <h5>Last updated: 06.12.2023</h5>
<ul>
    <li><b>Introduction:</b> Welcome to The God forsaken place. We are committed to protecting your personal data and respecting your privacy.</li>
    <li><b>Data Collection and Use:</b> We collect the following data: Most kind. This data is used for our entertainment.</li>
    <li><b>Consent</b> By using our service, you consent to our collection and use of your personal data as described in this privacy policy.</li>
    <li><b>Your Data Protection Rights Under GDPR:</b> Under GDPR, you have the right to access, rectify, erase, restrict processing, object to processing, and data portability. For any requests, please contact us at gfp_help@gmail.com</li>
    <li><b>Data Retention:</b> We will retain your personal information only for as long as necessary for the purposes set out in this policy.</li>
    <li><b>Third-Party Services:</b> We may share your data with third-party services for [Reasons for sharing]. These third parties are prohibited from using your personal data for any other purpose.</li>
    <li><b> Contact Us: </b> If you have any questions about this policy, please contact us at gfp_help@gmail.com.</li>
</ul>
</div>

